*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#070b14;
  color:white;
  height:100vh;
  overflow:hidden;
}

.app{
  display:flex;
  height:100vh;
}

/* SIDEBAR */

.sidebar{
  width:320px;
  background:#0d1320;
  border-right:1px solid #1f2a44;
  display:flex;
  flex-direction:column;
  padding:20px;
}

.logo{
  font-size:30px;
  font-weight:bold;
  color:#00c3ff;
  margin-bottom:25px;
  text-shadow:0 0 15px #00c3ff;
}

.profile{
  display:flex;
  align-items:center;
  gap:12px;
  margin-bottom:20px;
}

.profile img{
  width:55px;
  height:55px;
  border-radius:50%;
  border:2px solid #8a2be2;
}

.onlineText{
  color:#00ff99;
  font-size:13px;
  margin-top:3px;
}

button{
  background:linear-gradient(45deg,#00bfff,#8a2be2);
  border:none;
  color:white;
  padding:12px;
  border-radius:15px;
  cursor:pointer;
  margin-bottom:12px;
  font-weight:bold;
  transition:0.3s;
}

button:hover{
  transform:scale(1.03);
  box-shadow:0 0 20px #00bfff;
}

#searchInput{
  padding:12px;
  border:none;
  border-radius:12px;
  background:#18233a;
  color:white;
  margin-bottom:15px;
  outline:none;
}

.usersTitle{
  margin-bottom:10px;
  color:#00c3ff;
  font-size:14px;
}

#usersList{
  overflow-y:auto;
  flex:1;
}

.user{
  background:#121a2b;
  padding:12px;
  border-radius:15px;
  margin-bottom:10px;
  cursor:pointer;
  transition:0.3s;
  display:flex;
  align-items:center;
  gap:12px;
}

.user:hover{
  background:#1b2740;
  box-shadow:0 0 15px #8a2be2;
}

.user img{
  width:45px;
  height:45px;
  border-radius:50%;
}

/* CHAT AREA */

.chatArea{
  flex:1;
  display:flex;
  flex-direction:column;
}

#chatHeader{
  padding:20px;
  background:#0d1320;
  border-bottom:1px solid #1f2a44;
  font-size:20px;
  color:#00c3ff;
}

#chatMessages{
  flex:1;
  padding:20px;
  overflow-y:auto;
}

.message{
  max-width:320px;
  padding:14px;
  margin-bottom:15px;
  border-radius:18px;
  word-wrap:break-word;
  animation:fadeIn 0.2s ease;
}

.me{
  background:linear-gradient(45deg,#00bfff,#8a2be2);
  margin-left:auto;
  box-shadow:0 0 15px #00bfff55;
}

.other{
  background:#18233a;
}

.sender{
  font-size:12px;
  opacity:0.7;
  margin-bottom:5px;
}

.time{
  font-size:11px;
  opacity:0.7;
  margin-top:8px;
  text-align:right;
}

.messageBox{
  display:flex;
  padding:20px;
  background:#0d1320;
  gap:10px;
}

#messageInput{
  flex:1;
  padding:15px;
  border:none;
  border-radius:15px;
  background:#18233a;
  color:white;
  outline:none;
}

.userInfo{
  display:flex;
  flex-direction:column;
}

.status{
  font-size:12px;
  margin-top:4px;
  opacity:0.8;
}

#sendBtn{
  width:120px;
}

@keyframes fadeIn{

  from{
    opacity:0;
    transform:translateY(10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}
